<div
  class="row pre-picture-about-us"
  style="
    background: url('../../content/images/backgroundContact.png') center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;
  "
>
  <div class="row" style="padding: 2% 0 0 11%; color: white">
    <span></span>
  </div>
  <div style="padding: 1% 4% 4% 11%; color: white; line-height: 2">
    <div class="col-sm col-md-6">
      <div style="font-size: 2em"><b>LIÊN HỆ</b></div>
      <br />
      <p>
        Aladintech - một công ty phát triển bền vững, chuyên cung cấp giải pháp dịch vụ công nghệ thông tin - viễn thông hàng đầu cho mọi
        khách hàng trong nước và khu vực trong các lĩnh vực như Telecom, Bank, Business,...Áp dụng các phương pháp, chiến lược và quy trình
        chuyên nghiệp, thực hiện thành công các dự án đáp ứng trên sự mong đợi của khách hàng.
      </p>
      <br />
    </div>
    <a href="contacts" class="btn btn-dark btn-outline-light" style="padding: 1rem" jhiTranslate="contact.button">Contact Us</a>
  </div>
</div>
<div class="container" style="margin-top: 3rem; margin-bottom: 3rem; line-height: 2">
  <div class="row col-12 justify-content-center">
    <div class="sub-title-large-cus">Điều khoản sử dụng</div>
    <div class="">
      <b>Thỏa thuận điều khoản và điều kiện </b>
      <p>
        Aladin xây dựng và duy trì trang web này nhằm mục đích cung cấp thông tin cho tất cả mọi người với các mục đích sử dụng. Bằng việc
        sử dụng hoặc truy cập trang web, đồng nghĩa với việc bạn đã chấp nhận và đồng ý bị ràng buộc bởi các điều khoản và điều kiện này và
        tuân thủ tất cả các luật và quy định hiện hành. bạn đồng ý tuân thủ không làm gián đoạn hoặc cố gắng làm gián đoạn hoạt động của
        trang web này dưới bất kỳ hình thức nào. Bạn không thể sử dụng trang web này nếu bạn không chấp nhận các điều khoản này.
      </p>

      <p>
        <b>1.</b> Quyền sử dụng Phần mềm này có hiệu lực đến khi bị chấm dứt. Quyền sử dụng này sẽ chấm dứt như quy định trong các Điều
        Khoản này hoặc nếu bạn không tuân thủ bất kỳ điều khoản hay điều kiện nào của các Điều Khoản này. Trong trường hợp đó, Chúng tôi sẽ
        không cần thông báo để áp dụng sự chấm dứt đó.
      </p>
      <p>
        <b>2.</b> Không tải lên, đăng tin, gửi email, gửi hoặc cung cấp theo cách khác bất kỳ nội dung nào được cho là bất hợp pháp, có hại,
        đe dọa, xúc phạm, quấy rối, làm lo lắng, tra tấn, nhục mạ, phản cảm, tục tĩu, phỉ báng, xâm phạm quyền riêng tư của người khác, thù
        địch, hoặc phân biệt chủng tộc, sắc tộc hoặc các hành động đáng lên án khác;
      </p>
      <p><b>3.</b> Không thực hiện, cho phép hoặc ủy quyền sửa đổi mà không được sự cho phép của Chúng tôi;</p>
      <p>
        <b>4.</b> Không tải lên, đăng, gửi email, gửi hoặc cung cấp dưới hình thức khác bất kỳ nội dung nào xâm phạm bất kỳ bằng sáng chế,
        thương hiệu, bản quyền hay độc quyền khác;
      </p>
      <p>
        <b>5.</b> Không tải lên, đăng, gửi email, gửi hoặc cung cấp dưới hình thức khác bất kỳ tài liệu nào chứa virus hoặc bất kỳ tập tin
        hay chương trình nào được thiết kế để trực tiếp hoặc gián tiếp cản trở, thao túng, làm gián đoạn, phá hủy hoặc hạn chế chức năng hay
        tính toàn vẹn của bất kỳ phần mềm hay phần cứng máy tính nào hay dữ liệu hoặc thiết bị viễn thông nào;
      </p>
      <p>
        <b>6.</b> Chúng tôi sẽ có quyền gỡ bỏ bất kỳ nội dung nào vi phạm các Điều Khoản, nếu chúng tôi nhận được khiếu nại từ một người
        dùng khác, nhận được thông báo về sự xâm phạm tài sản trí tuệ hoặc yêu cầu có giá trị pháp lý khác đề nghị gỡ bỏ, hoặc nếu nội dung
        đó là đáng lên án theo cách khác.
      </p>
      <p>
        <b>7.</b> Chúng tôi có thể truy cập, bảo lưu và tiết lộ thông tin tài khoản của bạn và nội dung của bạn nếu luật quy định điều đó
        hoặc tuân theo lệnh của tòa hoặc theo yêu cầu của bất kỳ cơ quan chính phủ hay cơ quan quản lý nào có thẩm quyền.
      </p>
    </div>
  </div>
</div>
