<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="viettelSubscriber">
      <h2 data-cy="viettelSubscriberDetailsHeading">
        <span jhiTranslate="aladinFullstackApp.viettelSubscriber.detail.title">Viettel Subscriber</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ viettelSubscriber.id }}</span>
        </dd>
        <dt><span jhiTranslate="aladinFullstackApp.viettelSubscriber.name">Name</span></dt>
        <dd>
          <span>{{ viettelSubscriber.name }}</span>
        </dd>
        <dt><span jhiTranslate="aladinFullstackApp.viettelSubscriber.msisdn">Msisdn</span></dt>
        <dd>
          <span>{{ viettelSubscriber.msisdn }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/viettel-subscriber', viettelSubscriber.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
