<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-heroes-heading" data-cy="HeroesCreateUpdateHeading" jhiTranslate="aladinFullstackApp.heroes.home.createOrEditLabel">
        Create or edit a Heroes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aladinFullstackApp.heroes.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 10 }"
            >
              This field is required to be at least 10 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30 }"
            >
              This field cannot be longer than 30 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aladinFullstackApp.heroes.create_time" for="field_create_time">Create Time</label>
          <div class="d-flex">
            <input
              id="field_create_time"
              data-cy="create_time"
              type="datetime-local"
              class="form-control"
              name="create_time"
              formControlName="create_time"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aladinFullstackApp.heroes.viettelSubscriber" for="field_viettelSubscriber"
            >Viettel Subscriber</label
          >
          <select
            class="form-control"
            id="field_viettelSubscriber"
            data-cy="viettelSubscriber"
            name="viettelSubscriber"
            formControlName="viettelSubscriber"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                viettelSubscriberOption.id === editForm.get('viettelSubscriber')!.value?.id
                  ? editForm.get('viettelSubscriber')!.value
                  : viettelSubscriberOption
              "
              *ngFor="let viettelSubscriberOption of viettelSubscribersSharedCollection; trackBy: trackViettelSubscriberById"
            >
              {{ viettelSubscriberOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
