<div>
  <h2 id="page-heading" data-cy="RecruitmenHeading">
    <span jhiTranslate="AladinTechApp.recruitmen.home.title">Recruitmen</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="AladinTechApp.recruitmen.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recruitmen"
        [routerLink]="['/recruitment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="AladinTechApp.recruitmen.home.createLabel"> Create a new Recruitmen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recruitmen?.length === 0">
    <span jhiTranslate="AladinTechApp.recruitmen.home.notFound">No recruitmen found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recruitmen && recruitmen.length > 0">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="position">
            <span jhiTranslate="AladinTechApp.recruitmen.position">Position</span>
          </th>
          <th scope="col" jhiSortBy="require">
            <span jhiTranslate="AladinTechApp.recruitmen.require">Require</span>
          </th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="AladinTechApp.recruitmen.amount">Amount</span>
          </th>
          <th scope="col" jhiSortBy="duration">
            <span jhiTranslate="AladinTechApp.recruitmen.duration">duration</span>
          </th>
          <th scope="col" jhiSortBy="level">
            <span jhiTranslate="AladinTechApp.recruitmen.level">Level</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recruitmen of recruitmen; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recruitment', recruitmen.id, 'view']">{{ recruitmen.id }}</a>
          </td>
          <td>{{ recruitmen.position }}</td>
          <td class="col-3" style="">
            <textarea rows="5" class="textarea-cus" style="" readonly>{{ recruitmen.require }}</textarea>
          </td>
          <td>{{ recruitmen.amount }}</td>
          <td>{{ recruitmen.duration }}</td>
          <td>{{ recruitmen.level }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recruitment', recruitmen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recruitment', recruitmen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recruitmen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="recruitmen && recruitmen.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
