<div *ngIf="listProduct">
  <div *ngFor="let items of listProduct">
    <a href="products/{{ items.id }}"> {{ items.name }}</a>
  </div>
</div>
{{ isLoading }},{{ totalItems }}

<!--<div *ngIf="listProduct">-->
<!--  <div class="row justify-content-center">-->
<!--    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>-->
<!--  </div>-->

<!--  <div class="row justify-content-center">-->
<!--    <ngb-pagination-->
<!--      [collectionSize]="totalItems"-->
<!--      [(page)]="page"-->
<!--      [pageSize]="itemsPerPage"-->
<!--      [maxSize]="5"-->
<!--      [rotate]="true"-->
<!--      [boundaryLinks]="true"-->
<!--      (pageChange)="transition()"-->
<!--    ></ngb-pagination>-->
<!--  </div>-->
<!--</div>-->
